<div class="homepage">
    <%= render 'homepage/nav' %>
    <div class="homepage-body">
        <div class="body-header">
            <div>
                <h1>Trade and Invest</h1>
                <h2>in stocks, Easily</h2>
            </div>
            <div>
                <p>Start investing anywhere you want. <br> Make life easier with TradeInvest.</p> <br>
                <%= link_to "Get Started", new_trader_session_path, class:"get-started" %>
            </div>
        </div>
        <div>
            <img src="/image.png" class="image">
        </div>
    </div>
</div>