<div class="stocks-nav">
  <div class="top">
    <%= link_to image_tag("/logo3.png"), homepage_path, class:"image" %>
    <div>
      <span class="material-symbols-sharp close">close</span>
    </div>
  </div>
  
  <div class="sidebar">
    <a href="/" >
      <span class="material-symbols-sharp">dashboard</span> 
      <h3>Dashboard</h3>
    </a>
    <a href="/stocks" class="active">
      <span class="material-symbols-sharp">shopping_cart</span>
      <h3>Buy Stocks</h3>
    </a>
    <a href="/transactions">
      <span class="material-symbols-sharp">point_of_sale</span>
      <h3>Transactions</h3>
    </a>
    <a href="/">
      <span class="material-symbols-sharp">settings</span>
      <h3>Settings</h3>
    </a>
    <a data-turbo-method="delete" class="logout" href="/traders/sign_out">
      <span class="material-symbols-sharp">logout</span>
      <h3>Log Out</h3>
    </a>
  </div>
</div>