@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import "account/login";
@import "account/signup";
@import "alert/alert";

html:focus-within {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Inter", "Sans-serif";
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
}

.red {
  color: rgb(252, 98, 98);
}

.error {
  color: red;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
}
